body {
  padding-top: 5rem;
}

.app {
  text-align: center;
}

.bg-custom {
  background-color: darkred;
}

.traffic-cam-img {
  width: 100%;
  padding: 1px;
}

.card-title {
  font-size: 2em !important;
}