{% extends 'base.html' %}

{% block content %}
<h1>SUTD Environment Dashboard</h1>
<br>
<div class="row">
  <div class="col-sm">
    <div class="card" style="width:100%;">
      <div class="card-body">
        <h5 class="card-title" id="large_forecast">...</h5>
        <h6>Weather Conditions</h6>
        <h6 class="card-subtitle mb-2 text-muted">2-hour Forecast</h6>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width:100%;">
      <div class="card-body">
        <h5 class="card-title" id="large_air_temp">...</h5>
        <h6>Air Temperature</h6>
        <h6 class="card-subtitle mb-2 text-muted" id="temp_votes">...</h6>
        <div class="btn-group">
          <form
            action="http://localhost:5000/vote_item?item=temp&mod_state=1"
            method="post">
            <button type="submit" name="btn_temp_higher" class="btn btn-outline-success btn-sm"
              style="border-top-right-radius:0;border-bottom-right-radius:0;">Feels Higher</button>
          </form>
          <form
            action="http://localhost:5000/vote_item?item=temp&mod_state=-1"
            method="post">
            <button type="submit" name="btn_temp_lower" class="btn btn-outline-danger btn-sm"
              style="border-top-left-radius:0;border-bottom-left-radius:0;">Feels Lower</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width:100%;">
      <div class="card-body">
        <h5 class="card-title" id="large_psi">...</h5>
        <h6>PSI Reading</h6>
        <h6 class="card-subtitle mb-2 text-muted" id="psi_votes">...</h6>
        <div class="btn-group">
          <form
            action="http://localhost:5000/vote_item?item=psi&mod_state=1"
            method="post">
            <button type="submit" name="btn_psi_higher" class="btn btn-outline-success btn-sm"
              style="border-top-right-radius:0;border-bottom-right-radius:0;">Feels Higher</button>
          </form>
          <form
            action="http://localhost:5000/vote_item?item=psi&mod_state=-1"
            method="post">
            <button type="submit" name="btn_psi_lower" class="btn btn-outline-danger btn-sm"
              style="border-top-left-radius:0;border-bottom-left-radius:0;">Feels Lower</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width:100%;">
      <div class="card-body">
        <h5 class="card-title" id="simei_bus_eta">...</h5>
        <h6>Simei Bus</h6>
        <h6 class="card-subtitle mb-2 text-muted">Next bus arrival (min)</h6>
      </div>
    </div>
  </div>
</div>
<br>
<p class="lead">Weather</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Air Temp</th>
      <th scope="col">Rainfall</th>
      <th scope="col">Humidity</th>
      <th scope="col">Wind Dir</th>
      <th scope="col">Wind Speed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="air_temp">...</td>
      <td id="rainfall">...</td>
      <td id="humidity">...</td>
      <td id="wind_direction">...</td>
      <td id="wind_speed">...</td>
    </tr>
  </tbody>
</table>
<p class="lead">Air Quality</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">PSI (24h)</th>
      <th scope="col">PM2.5 (1h)</th>
      <th scope="col">NO<sub>2</sub> (1h)</th>
      <th scope="col">O<sub>3</sub> (8h)</th>
      <th scope="col">CO (8h)</th>
      <th scope="col">SO<sub>2</sub> (24h)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="psi_24h">...</td>
      <td id="pm25_1h">...</td>
      <td id="no2_1h">...</td>
      <td id="o3_8h">...</td>
      <td id="co_8h">...</td>
      <td id="so2_24h">...</td>
    </tr>
  </tbody>
</table>
<p class="lead">Traffic Cameras</p>
<div class="row">
  <div class="col-sm">
    <p>PIE (Outside CGH)</p>
    <img id="cam_6713" class="traffic-cam-img">
  </div>
  <div class="col-sm">
    <p>TPE (Upper Changi)</p>
    <img id="cam_7791" class="traffic-cam-img">
  </div>
  <div class="col-sm">
    <p>PIE (Airport Exit)</p>
    <img id="cam_6711" class="traffic-cam-img">
  </div>
  <div class="col-sm">
    <p>PIE (NSRCC Exit)</p>
    <img id="cam_3705" class="traffic-cam-img">
  </div>
</div>
{% endblock %}